.comic-cover {
    
    padding-bottom: 5%;

  }




  .series-cover{
    padding-bottom: 5%;
   

  }

  .creator-cover{
    padding-bottom: 5%;
   

  }
  .character-cover{
    padding-bottom: 5%;
   

  }